= show_index_header <%= controller_class_path %>, :<%= singular_name %>
= show_model_table  @<%=plural_name %> do |row|
<% attributes.each do |attribute| -%>
  = row.show_text_column :<%= attribute.name%>
<% end -%>
